
/**********************/

/*      Accueil       */

/**********************/

/* scroll div start */

.scoll_div {
    overflow: auto;
    height: 25em;
    color: black;
    flex-direction: column;
    padding: 1em;
}

@media (max-width: 1400px) {
    .scoll_div {
        height: 23em;
    }
}

@media (max-width: 1200px) {
    .scoll_div {
        height: 19em;
    }
}

.scroll_div_item {
    background-color: rgb(235, 235, 235);
    padding: 1em;
}

.scroll_content_item {
    color: black;
    display: flex;
}

.scroll_content_item i {
    padding-right: 0.4em;
}

.scroll_footer_item {
    display: flex;
    justify-content: space-between;
}

.scroll_footer_item a {
    text-decoration: underline;
    color: black;
}

.scroll_img {
    width: 85%;
    margin-bottom: 0.5em;
}

