
/* ****************Hover sur actu **************** */

.radio-btns:hover .radio-btns__btn:not(:hover) {
    filter: grayscale(50%);
}

.radio-btns:hover .radio-btns__btn:not(:hover)::after {
    background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 30rem) {
    .radio-btns {
        grid-template-columns: repeat(3, 100px);
    }
}

.radio-btns__btn {

    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.radio-btns__btn::after {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.3s;
}



.radio-btns__btn:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
    z-index: 2;
}