
/*****************************/

/*          Footer           */

/*****************************/

@media (max-width: 767px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer_group_link {
        justify-content: space-around;
        display: flex;
        width: 100%;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.footer_link>a {
    text-decoration: none;
    color: white;
}

.footer_link {
    padding-left: 2em;
}