body {
  color: white;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

/*****************************/

/*          Header           */

/*****************************/

@media (max-width: 991px) {
  .list_link {
    margin-top: 4em;
    font-size: 24px;
  }
  .nav-link {
    font-weight: 100 !important;
  }
  .list_follow_me {
    display: none !important;
  }
  .nav_item_follow {
    display: block !important;
  }
}

@media (max-width: 500px) {
  .img_astronaut {
    background: url("../image/astronauts_bg.png") no-repeat center bottom !important;
  }
}

.nav_item_follow {
  display: none;
}

.follow_header_link > div {
  display: flex;
  flex: 1;
  justify-content: center;
}

.follow_header_link > div > a {
  background-color: #ff007b;
  padding: 0.5em;
}

.logo_div {
  z-index: 300;
}

.fluid-container {
  padding-top: 9em;
  padding-bottom: 5em;
}

.navigation {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500000;
}

.main_header {
  background-color: #1c004a;
  border-bottom: solid #ff007b;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.logo_img {
  position: absolute;
  width: 205px;
  margin-bottom: -15px;
  padding-top: 15px;
  left: 5%;
}

/* logo animation */

.shop_btn:hover .anim_logos {
  animation-name: acc_animation;
  animation-duration: 0.9s;
}

@keyframes acc_animation {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(20deg);
  }
  66% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.links_group {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding-right: 5%;
  flex: 1;
}

.link {
  display: flex;
}

.navbar {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  min-height: 4em;
}

.custom_btn_menu {
  color: white;
  font-size: 25px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}

.line_1,
.line_3 {
  border-bottom: 3px solid white;
  width: 20px;
  height: 10px;
}

.line_2 {
  border-bottom: 3px solid white;
  width: 30px;
  height: 10px;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.nav-link {
  color: white;
  font-weight: bold;
}

.nav-link:focus,
.nav-link:hover {
  color: #00fff7;
}

.nav-item {
  margin-right: 0.4em;
  margin-left: 0.4em;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

.shop_btn {
  background-color: rgba(248, 248, 248, 0.2);
  width: min-content;
  border-radius: 13px;
}

.list_follow_me {
  display: flex;
  position: absolute;
  right: 80px;
  list-style: none;
  justify-content: flex-end;
  background-color: #ff007b;
  color: white;
  width: 28em;
  height: 32px;
  align-items: center;
  z-index: 200;
}

.list_follow_me > .li_follow {
  display: flex;
  padding-right: 1em;
  padding-left: 1em;
  font-weight: bold;
}

/* Animation navbar logo follow */

.li_follow:hover span {
  animation: bounce 0.5s infinite;
  /* animation-iteration-count: infinite; */
}

@keyframes bounce {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.icon_follow {
  margin-left: 5px;
  margin-right: 5px;
  width: 15px;
}

.separator {
  border-right: 1px solid whitesmoke;
}

.back_div_color {
  display: flex;
  justify-content: flex-end;
  z-index: -200;
  background-color: #0f002f;
  position: fixed;
}

.img_astronaut {
  width: 100vw;
  height: 100vh;
  background: url("../image/astronauts_bg.png") no-repeat right bottom;
  opacity: 0.1;
}

.mapping_link {
  color: white;
  text-decoration: underline;
}

.maping {
  font-size: small;
  padding-bottom: 1em;
}

.container {
  height: 100%;
}

.fa-tshirt {
  padding-right: 0.5em !important;
}

/* *********************************** */
/* scroll div end */

@media (max-width: 992px) {
  .thanks {
    display: none;
  }
}

.side_right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thanks {
  font-weight: bold;
  font-size: small;
}

.cara_pink {
  color: #ff007b;
  font-weight: bold;
}

.main_content {
  display: flex;
}

.img_left > img,

.scoll_div {
  width: 90%;
}

.item_tag {
  background-color: #ff007b;
  padding: 1em;
}

.img_item_home > img {
  width: 100%;
}

.div_partner_img {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-height: 31vh;
  background: linear-gradient(
    to bottom right,
    rgb(65, 38, 92),
    rgb(60, 43, 78)
  );
}

.img_partner {
  width: 90%;
}

/* img block shop et staff */
.item_tag_staff {
  position: relative;
}

.img_item > img {
  width: 100%;
}

.img_item > img:hover {
  position: relative;
  opacity: 0;
  transition: ease-in 0.3s;
  width: 100%;
}

.before {
  display: flex;
  content: "";
  position: absolute;
  padding: 2em;
  background-color: #00fff7;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: -10;
  color: #1c004a;
  font-weight: 700;
}
/*****************************/

/*          Actu  global           */

/*****************************/

.actu_img>img {
  width: 100%;
}

.actu_img>iframe {
  width: 100%;
  
}


/*****************************/

/*          BUTTON buy       */

/*****************************/

.btn_buy {
  margin-left: 2rem;
  text-decoration: none;
  display: inline-block;
  background: linear-gradient(to right, #d00f99 0%, #d00f99 100%);
  padding: 10px 10px;
  color: white;
  transition: 0.3s;
}

.btn_buy_loader{
  margin-left: 2rem;
  text-decoration: none;
  display: inline-block;
  background: linear-gradient(to right, #a8a0a6 0%, #838182 100%);
  padding: 10px 10px;
  color:black;
  
}



.btn_buy:hover {
  -ms-transform: scale(1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1);
  /* Safari 3-8 */
  transform: scale(1.1);
  z-index: 2;
  /* color: rgba(0, 0, 0, 0); */
  color: white;
}

.nb_product {
  width: 4em;
  text-align: center;
}

.group_buy {
  display: flex;
  height: 3em;
}

/***************************/

/*       BTN   Account        */

/***************************/

.btn {
  background-color: #d00f99;
  color: white;
  border-radius: 0;
  margin-right: 3em;
  padding: 0.8em 1.5em 0.8em 1.5em;
  margin-bottom: 1em;
}

.btn_radio_inline {
  display: flex;
  align-items: center;
}
.input-account {
  width: auto !important;
  min-width: 40%;
}
.form-control {
  border-radius: 0;
  border: 0;
  color: black;
  /* background-color: rgba(255, 255, 255, 0.2); */
  background-color: white;
  /* margin-top: 0.5em; */
}

/* input */
.form-check-input {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 3px solid rgba(255, 255, 255, 1) !important;
}

/* ************************************* */
/*                    loader             */
/* ************************************* */


    .loader {
      position: absolute;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      perspective: 800px;
    }

    .inner {
      position: absolute;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    .inner.one {
      left: 0%;
      top: 0%;
      animation: rotate-one 1s linear infinite;
      border-bottom: 3px solid #DFDFDF;
    }

    .inner.two {
      right: 0%;
      top: 0%;
      animation: rotate-two 1s linear infinite;
      border-right: 3px solid #FF007B;
    }

    .inner.three {
      right: 0%;
      bottom: 0%;
      animation: rotate-three 1s linear infinite;
      border-top: 3px solid #2E007A;
    }

    @keyframes rotate-one {
      0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
      }

      100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
      }
    }

    @keyframes rotate-two {
      0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
      }

      100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
      }
    }

    @keyframes rotate-three {
      0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
      }

      100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
      }
    }

    .hide {
			display: none;
		}