/* *************************** */
/*            ICON              */
/* *************************** */
.icon {
    padding: 10px;
    background: #ff007b;
    color: white;
    min-width: 50px;
    text-align: center;
}
/* *************************** */
/*         FORMULAIRE         */
/* *************************** */
.from-inscription {
    background-color: #1C004A;
    border: 1px solid black;
    margin: none !important;
}

.form-input {
    margin-right: none !important;
}
.div-right {
    border-left: 1px solid white;
}

/* *************************** */
/*           INPUT              */
/* *************************** */
.input-error{
    border: 3px solid red;
}
.text-error{
    color: red;
}


/* *************************** */
/*       MEDIA QUERIES         */
/* *************************** */


@media all and (max-width: 992px) {

    .div-right {
        border-left: none;
    }
}