

/********************************/

/*            Maps              */

/********************************/

.desc_maps {
    background-color: rgba(255, 0, 123, 0.2);
    height: 100%;
    width: 100%;
    padding: 2em;
}

.desc_maps>h5 {
    background-color: white;
    color: #1C004A;
    padding: 5px;
    font-weight: bold;
}

.title_maps {
    font-size: 24px;
    font-weight: bold;
}

/* ***bounce MAPS  ***** */

.animatable {
    visibility: hidden;
    animation-play-state: paused;
}

.animated.bounceIn {
    animation-name: bounceIn;
}


.animated {
    visibility: visible;
    animation-fill-mode: both;
    animation-duration: 0.8s;
    animation-play-state: running;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.3);
    }
    50% {
        transform: scale(1.05);
    }
    70% {
        transform: scale(.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

