/*******************************/

/*            Panier           */

/*******************************/

.header_pannier {
    display: flex;
    background-color: rgba(255, 0, 123, 0.1);
    padding: 1em;
}

.item_product {
    display: flex;
    position: relative;
    align-items: center;
    margin: 1em;
}

.pannier_img {
    width: 12.5%;
    padding-right: 2%;
}

.header_pannier>.long, .detail_item>.long {
    width: 29%;
}

.product_delete {
    position: absolute;
    right: 15px;
}

.product_name {
    display: flex;
    width: 14.5%;
}

.product {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.detail_item {
    display: flex;
    width: 100%;
}

.container_detail {
    width: 100%;
}

@media (min-width: 768px) {
    .sm_icon {
        display: none!important;
    }
}

@media (max-width: 768px) {
    .container_pannier {
        display: flex;
        justify-content: center;
    }
    .header_pannier {
        display: none;
    }
    .item_product {
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.1);
        margin: 0;
        padding: 1em;
    }
    .pannier_img {
        width: 18%;
        padding-right: 2%;
    }
    .detail_item {
        width: 85%;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
    }
    .product_delete {
        top: -15px;
        right: -10px;
    }
    .lg_icon {
        display: none!important;
    }
    .product_name {
        width: auto;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .container_detail {
        display: flex;
        width: 100%;
    }
    .mobile_div {
        width: 50%;
    }
    .detail_item>.long {
        width: auto;
    }
    .mobile_div {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        font-size: small;
        justify-content: space-around;
    }
}
