

/******************************/

/*          Planning          */

/******************************/

@media (max-width: 600px) {
    .hour {
        flex-direction: row!important;
        justify-content: flex-end;
    }
    .bg_prev, .bg_next, .owl-nav {
        display: none;
    }
}

.carousel {
    text-align: center;
}

.item>div>h4 {
    background-color: #00fff7;
    width: 100%;
    padding: 0.5em;
    align-items: center;
    color: #1C004A;
    font-weight: bold;
}

.owl-stage>div {
    display: flex;
}

.owl-item>.item {
    width: 100%;
}

.content_item {
    color: #1C004A;
}

.owl_img {
    width: 50px!important;
    height: 50px;
}

.one_prog {
    align-items: center;
    background-color: #F5F5F5;
    margin: 5px;
    padding: 5px;
}

.owl_item_title {
    margin-left: 1em;
}

.owl-prev {
    width: 50px;
    height: 100px;
    position: absolute;
    top: -1%;
    margin-left: -20px;
    left: -60px;
    display: block !important;
    border: 0px solid black;
    height: 100%;
}

.owl-next {
    width: 50px;
    height: 100px;
    position: absolute;
    top: -1%;
    right: -60px;
    display: block !important;
    border: 0px solid black;
    height: 100%;
}

.owl-prev i, .owl-next i {
    transform: scale(5);
    color: #ccc;
}

.bg_prev {
    position: absolute;
    background-color: rgba(100, 100, 100, 0.2);
    height: 100%;
    width: 50px;
    left: -55px;
}

.bg_next {
    position: absolute;
    background-color: rgba(100, 100, 100, 0.2);
    height: 100%;
    width: 50px;
    right: -55px;
    top: 0;
}

.owl-carousel {
    position: relative;
}

.owl-stage {
    display: flex;
}
