
/****************************/

/*          Product         */

/****************************/

.main_img {
    width: 100%;
    max-height: 1000px;
}

.secondary_img {
    width: 100%;
}

.groupe_secondary_img {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.product_container {
    padding-bottom: 3em;
    padding-top: 3em;
}


/* text animation */

.category_name {
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}

/* animation text  */

.category_name h6, h1, p {
    opacity: 0;
    filter: blur(3px);
}

.category_name h6 {
    animation: fade-in 0.4s 0.1s forwards cubic-bezier(.17, .67, 1, 1);
}

.category_name h1 {
    animation: fade-in 0.4s 0.2s forwards cubic-bezier(.17, .67, 1, 1);
}

.category_name p {
    animation: fade-in 0.4s 0.3s forwards cubic-bezier(.17, .67, 1, 1);
}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

