/* ************************************************************** */

/************************* INPUT********************************  */

/* ************************************************************** */

input {
    border: none;
    color: #d00f99;
}

textarea{
    color: #d00f99;

}
select{
    width: 150px;
    text-align: center;
}
.input-error{
    border: 3px solid red;
}
.input_file{
    display: none;
}

.label_file {
    font-size: 18px;
    padding: 10px 12px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    background-color: #d00f99;
}
.name_file{
    font-size: 15px;
}

/* ************************************************************** */

/************************ BUTTONS******************************  */

/* ************************************************************** */

button {
    text-decoration: none;
    font-family: Verdana, Arial;
    font-weight: bold;
    font-size: 11 px;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    height: 40px;
}

.btn_action {
    background-color: #5bd39a;
    color: white;
    border: 2px solid #5bd39a;
}

.btn_action:hover {
    background-color: White;
    color: #5bd39a;
    border: 2px solid #5bd39a;
    transition-duration: 2s;
}

.btn_save {
    background-color: #ff0000;
    color: white;
    border: 2px solid #ff0000;
}

.btn_save:hover {
    background-color: White;
    color: #ff0000;
    border: 2px solid #ff0000;
    transition-duration: 1s;
}

.hide {
    display: none;
}

/**********************************************************************************/

/****************************DATATABLE CSS ****************************************/

/**********************************************************************************/

table, td {
    border: 1px solid #d00f99;
    padding: 10px;
    background-color: white;
}

table, td {
    border-spacing: 15px;
    background-color: lightgrey;
}

tr {
    text-align: center;
    color: #d00f99;
}

.edit {
    color: #2E007A;
}

.delete {
    color: red;
}

/* Menu list and input search  */

label {
    color: #DFDFDF;
}

/* PAGINATION */


.dataTables_paginate a {
    color: red!important;
}

.dataTables_info {
    color: #DFDFDF!important;
}

/* image in the table */

img {
    width: 50px;
}

h1, h2 {
    text-align: center;
}

p {
    font-weight: bolder;
    font-size: 18px;
}

/* image article print */

.img_product {
    width: 50%;
    min-height: 50px;
}