/************************/

/*          Shop        */

/************************/

@media (max-width: 500px) {
    .sort_btn {
        display: flex;
        flex-direction: column;
    }
}

.product_name {
    font-weight: 700;
}

.buy_text {
    margin-left: 1em;
}


/* image shop*/
.img_shop>img {
    width: 100%;
    height:auto;
    /* max-height: 350px; */
    /* background-size: cover; */
}
.div_image{
    height: 500px!important;
}

.img_shop>img:hover {
    position: relative;
    opacity: 0;
    transition: ease-in 0.3s;
    /* width: 100%; */
}

/************************/

/*      Pagination    */

/************************/ 

.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: #ff007b;
    color: white;
    border: 1px solid #ff007b;
  }
  
  .pagination a:hover:not(.active) {
      background-color: #ff007b;
    border: 1px solid #ff007b;
    cursor: pointer;
    

    }
  