
/************************/

/*         Staff        */

/************************/



/********** Effect style  *********/

.effect-3 {
    position: relative;
    overflow: hidden;
}

.effect-3 .effect-img {
    font-size: 0;
    overflow: hidden;
}

.effect-3 .effect-img img {
    width: 100%;
    height: auto;
    transition: .3s;
}

.effect-3:hover .effect-img img {
    transform: scale(1.2);
}

.effect-3 .effect-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    background: #00fff7;
    transition: .5s;
    transform: scale(0);
    opacity: 0;
}

.effect-3:hover .effect-text {
    transform: scale(1);
    opacity: 1;
}

.effect-3 .effect-text p {
    color: #1c004a;
    font-size: 15px;
    margin: 0 0 20px 0;
    font-weight: 700;
    filter: blur(0px);
    opacity: 1;
}