
<input id="namepage" type="hidden" value="<?php echo $pageName="Mon compte" ?>">
<div class="maping">
    <span><a class="mapping_link" href="index.php">Accueil</a></span>
    <span>></span>
    <span><?php echo $pageName ?></span>
</div>

<h1><strong>Mon compte</strong></h1>

<form method="POST" action="#">

    <div class="form-group pb-3">
        <label for="exampleInputEmail1">Nom d'utilisateur ou email<span class="red_cara">*</span></label>
        <input type="email" class="form-control input-account " id="email" aria-describedby="emailHelp">
    </div>

    <div class="form-group pb-3">
        <label for="exampleInputPassword1">Mot de passe<span class="red_cara">*</span></label>
        <input type="password" class="form-control input-account " id="exampleInputPassword1">
    </div>
    <div class="btn_radio_inline">
        <button type="submit" class="btn"><strong>Connexion</strong></button>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Se rappeler de moi</label>
        </div>
    </div>
    <div class="btn_radio_inline">
        <div class=" d-flex align-items-center pt-lg-4 "><a href="index.php?page=inscription">Pas encore inscrit ? cliquez ici</a></div>
    </div>
</form>
