
<!-- ◘ CSS ◘ -->
<link href="../web/assets/css/accueil.css" rel="stylesheet">
<!-- FIN CSS -->
<input id="namepage" type="hidden" value="<?php echo $namePage=" Accueil"?>">

<section>

    <div class="container">
        <main class="main_content row">
            <div class="side_left col-lg-7 col-md-12 col-sm-12 col-xs-12 mt-2">
                <span class="title_left">
                    <h4><span class="cara_pink">—</span> Créateur de bonne humeur</h4>
                    <h2><strong>Bienvenue sur la V1 du site PirAStack !</strong></h2>
                </span>
                <div class="img_left d-flex justify-content-center  ">
                    <div id="twitch-embed" class="col-12"></div>
                    <script src="https://embed.twitch.tv/embed/v1.js"></script>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                    <script> new Twitch.Embed("twitch-embed", {
                            width: "100%",
                            height: 415,
                            channel: "pirastack",
                            layout: "video",
                            theme: "dark",
                        });


                    
                    </script>

                </div>
            </div>
            <div class="side_right col-lg-5 col-md-12 col-sm-12 col-xs-12 mt-3">
                <p class="thanks">Merci pour votre confiance et votre soutien ! Voici le site officiel de PirAStack. Il
                    sera mis a jour le plus souvent possible et c’est ici que sont regroupées toutes les informations
                    pratiques ainsi que l’actualité sur les projets actuels et futurs !</p>
                <div class="scoll_div d-flex bg-white">
                    <h4><strong>Ce que vous avez manqué :</strong></h4>

                    <div class="scroll_div_item twitter mb-3">

                        <div class="scroll_content_item">
                            <i class="fab fa-twitter fa-2x"></i>
                            <p>« Vous en pensez quoi si je fait la #ZLAN2021 ? C’est à dire […] »</p>
                        </div>
                        <div class="scroll_footer_item">
                            <span>
                                29/04/21
                            </span>
                            <a href="">
                                Voir sur Twittter
                            </a>
                        </div>
                    </div>

                    <div class="scroll_div_item instagram mb-3">

                        <div class="scroll_content_item">
                            <i class="fab fa-instagram fa-2x"></i>
                            <img class="scroll_img" src="assets/image/scroll_img.svg">
                        </div>
                        <div class="scroll_footer_item">
                            <span>
                                22/04/21
                            </span>
                            <a href="">
                                Voir sur instagram
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</section>

<section class="mt-5 container">
    <h3><strong>Titre émissions / productions / concepts...</strong></h3>
    <div class="row">
        <div class="pt-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="img_item_home">
                <img src="./assets/image/img_black.PNG" alt="">
            </div>
            <div class="item_tag">
                Lorem ipsum dolor...
            </div>
        </div>
        <div class="pt-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="img_item_home">
                <img src="./assets/image/img_black.PNG" alt="">
            </div>
            <div class="item_tag">
                Lorem ipsum dolor...
            </div>
        </div>
        <div class="pt-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="img_item_home">
                <img src="./assets/image/img_black.PNG" alt="">
            </div>
            <div class="item_tag">
                Lorem ipsum dolor...
            </div>
        </div>
        <div class="pt-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="img_item_home">
                <img src="./assets/image/img_black.PNG" alt="">
            </div>
            <div class="item_tag">
                Lorem ipsum dolor...
            </div>
        </div>
        <div class="pt-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="img_item_home">
                <img src="./assets/image/img_black.PNG" alt="">
            </div>
            <div class="item_tag">
                Lorem ipsum dolor...
            </div>
        </div>
        <div class="pt-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="img_item_home">
                <img src="./assets/image/img_black.PNG" alt="">
            </div>
            <div class="item_tag">
                Lorem ipsum dolor...
            </div>
        </div>
    </div>

</section>
<section class="mt-5 container">
    <h4><strong> On a travaillé avec</strong> </h4>

    <div class="partner row">
        <div class="partner_item p-4 col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="border div_partner_img">
                <div class="justify-content-center d-flex">
                    <img class="img_partner" src="./assets/image/redBull-logo.svg" alt="logo-red-bull">
                </div>
            </div>
        </div>
        <div class="partner_item p-4 col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="border div_partner_img">
                <div class="justify-content-center d-flex">
                    <img class="img_partner" src="./assets/image/youtube-logo.svg" alt="logo-youtube">
                </div>
            </div>
        </div>
        <div class="partner_item p-4 col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="border div_partner_img">
                <div class="justify-content-center d-flex">
                    <img class="img_partner" src="./assets/image/ea-logo.svg" alt="logo-electronic-arts">
                </div>
            </div>
        </div>
        <div class="partner_item p-4 col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="border div_partner_img">
                <div class="justify-content-center d-flex">
                    <img class="img_partner" src="./assets/image/monaco-esports-logo.svg" alt="logo-monaco-esport">
                </div>
            </div>
        </div>

    </div>

</section>