<!-- ◘JS◘ -->
<script src="assets/js/actu.js"></script>
<!-- FIN ◘JS◘ -->

<!-- ◘ CSS ◘ -->
<link href="../web/assets/css/actu.css" rel="stylesheet">
<!-- FIN CSS -->

<input id="namepage" type="hidden" value="<?php echo $pageName=" Actualités" ?>">
<div class="maping">
    <span><a class="mapping_link" href="index.php">Accueil</a></span>
    <span>></span>
    <span>
        <?php echo $pageName ?>
    </span>
</div>


<!-- div template actualite -->
<div id="div_template_actu" style="display: none;">
    <div class="pb-5 col-lg-6 col-sm-12 radio-btns__btn" data-id=___id_content___ data-idType=___id_type_contenu___>
        <div class="actu_img">
            ___url_media___
        </div>
        <div class="item_tag">
            ___description___
        </div>
    </div>
</div>
<!-- fin div template -->

<h1>Les actualités de PirAStack</h1>

<div class="row " id="template_result">

<!-- <div class="pb-5 col-lg-6 col-sm-12 radio-btns__btn">
        <div class="actu_img">
            <img src="./assets/image/actu_img_black.PNG" alt="">
        </div>
        <div class="item_tag">
            <img src="./assets/image/youtube-brands.svg" alt="">
            Dernière vidéo YouTube Chaîne Bonus
        </div>
    </div> -->


</div>