<!-- ◘ CSS ◘ -->
<link href="../web/assets/css/footer.css" rel="stylesheet">
<!-- FIN CSS -->
<footer class="container">
    <div class="footer">
        <div>
            <span>©PirAStack 2021 tous droits réservés.</span>
        </div>
        <div class="footer_group_links">
            <!-- <span class="footer_link"><a href="account.php">Mon compte</a></span> -->
            <span class="footer_link"><a href="index.php?page=ml">Mentions légales</a></span>
            <span class="footer_link"><a href="#">Crédit</a></span>
        </div>
    </div>
</footer>


<script>
    $('.list_link').ready(function () {
        const namePage = $('#namepage').val();

        $("li").each(function (index) {

            if ($(this).text().replace(/\s+/g, '') === namePage) {
                $(this).children('a').css('color', '#00fff7');
            }
        });
    })

            // var follows = $('.list_follow_me').clone();
            // $( window ).resize(function() {
            //     var windowsize = $(window).width();
            //     if (windowsize < 992) {
            //         follows.appendTo('#navbarSupportedContent')
            //     }else{
            //         follows.appendTo('#display_follow')
            //         $('#navbarSupportedContent .list_follow_me').remove()
            //     }
            // });
</script>