
    <nav class="navigation">
        <div class="main_header">
            <div class="logo_div">
                <a href="index.php"><img class="logo_img" src="./assets/image/logo.png" alt="logo-pirastack"></a>
            </div>
            <div class="links_group">
                <div class="navbar navbar-expand-lg">

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="custom_btn_menu navbar-toggler-icon">
                            <div class="line_1"></div>
                            <div class="line_2"></div>
                            <div class="line_3"></div>
                        </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class=" list_link navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="index.php?page=actu">Actualités</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="index.php?page=maps">Maps</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="index.php?page=planning">Planning</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="index.php?page=staff">Staff</a>
                            </li>
                            <li class="nav-item d-flex align-items-center shop_btn">
                                <i class="fas fa-tshirt anim_logos "></i>
                                <a class="nav-link" href="index.php?page=shop">Boutique</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="index.php?page=account">Mon compte</a>
                            </li>
                            <li class="nav-item d-flex align-items-center shop_btn">
                                <i class="fas fa-shopping-basket  anim_logos  "></i>
                                <a class="nav-link" href="index.php?page=panier">Panier</a>
                            </li>

                        </ul>

                        <div class="nav-item nav_item_follow pt-3">
                            <div>follow me</div>
                            <div class="d-flex follow_header_link">
                                <div class="li_follow"><a href="https://www.twitch.tv/pirastack"><img class="icon_follow" width="20"
                                            src="./assets/image/twitch-brands.svg" alt="icon-twitter"></a></div>
                                <div class="li_follow"><a href="https://www.youtube.com/channel/UC_NFNQF3Ti2wNQqLxP9Q4AA"><img class="icon_follow" width="20"
                                            src="./assets/image/youtube-brands.svg" alt="icon-youtube"></a></div>
                                <div class="li_follow"><a href="https://twitter.com/PirAStack"><img class="icon_follow" width="20"
                                            src="./assets/image/twitter-brands.svg" alt="icon-twitter"></a></div>
                                <div class="li_follow"><a href="https://www.instagram.com/pirastack/"><img class="icon_follow" width="20"
                                            src="./assets/image/instagram-brands.svg" alt="icon-instagram"></a></div>
                                <div class="li_follow"><a href="https://vm.tiktok.com/ZMRMHyt3S/"><img class="icon_follow" width="20"
                                            src="./assets/image/tiktok-brands.svg" alt="icon-tiktok"></a></div>
                                <div class="li_follow"><a href="https://story.snapchat.com/@pirastance"><img class="icon_follow" width="20"
                                            src="./assets/image/snapchat-ghost-brands.svg" alt="icon-snapchat"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="follow_me">

            
            
            <div class="list_follow_me">
                <div class="follow_text">Follow me</div>
                <div class="li_follow separator "><span><a href="https://www.twitch.tv/pirastack"><img class="icon_follow" width="20"
                            src="./assets/image/twitch-brands.svg" alt="icon-twitch"></a></span></div>
                <div class="li_follow separator "><span><a href="https://www.youtube.com/channel/UC_NFNQF3Ti2wNQqLxP9Q4AA"><img class="icon_follow" width="20"
                            src="./assets/image/youtube-brands.svg" alt="icon-youtube"></a></span></div>
                <div class="li_follow separator "><span><a href="https://twitter.com/PirAStack"><img class="icon_follow" width="20"
                            src="./assets/image/twitter-brands.svg" alt="icon-twitter"></a></span></div>
                <div class="li_follow separator "><span><a href="https://www.instagram.com/pirastack/"><img class="icon_follow" width="20"
                            src="./assets/image/instagram-brands.svg" alt="icon-instagram"></a></span></div>
                <div class="li_follow separator "><span><a href="https://vm.tiktok.com/ZMRMHyt3S/"><img class="icon_follow" width="20"
                            src="./assets/image/tiktok-brands.svg" alt="icon-tiktok"></a></span></div>
                <div class="li_follow "><span><a href="https://story.snapchat.com/@pirastance"><img class="icon_follow" width="20"
                            src="./assets/image/snapchat-ghost-brands.svg" alt="icon-snapchat"></a></span></div>
            </div>


        </div>
    </nav>


    <div class="back_div_color">
        <div class="img_astronaut">
        </div>
    </div>


  