<!-- ◘JS◘ -->
<script src="assets/js/inscription.js"></script>
<!-- FIN ◘JS◘ -->

<!-- ◘ CSS ◘ -->
<link href="../web/assets/css/inscription.css" rel="stylesheet">
<!-- FIN CSS -->

<input id="namepage" type="hidden" value="<?php echo $pageName=" Inscription" ?>">
<div class="maping">
    <span><a class="mapping_link" href="index.php">Accueil</a></span>
    <span>></span>
    <span>
        <?php echo $pageName ?>
    </span>
</div>

<h1><strong>Inscription</strong></h1>



<!-- FROM INSCRIPTION -->
<div class=" container d-flex flex-lg-row flex-column justify-content-between  col-12 from-inscription pt-2 pb-2 ps-4" id="inscription">
    <!-- NAME AND FIRSTNAME && DATE BIRTHDAY && NUMBER PHONE  &&  GENRE-->
    <div class="  col-lg-6 col-md-12 ">
        <!-- NAME -->
        <div class="form-group col-lg-8 col-md-12   pb-3">
            <label for="">Nom<span class="red_cara">*</span></label>
            <div class="d-flex col-12 ">
                <i class="fa fa-user icon"></i>
                <input type="text" class="form-control" name="name" id="name">
            </div>
            <small id="name_small"></small>

        </div>
        <!-- FIRSTNAME -->
        <div class="form-group col-lg-8  pb-3">
            <label for="">Prénom<span class="red_cara">*</span></label>
            <div class="d-flex text-center col-12  ">
                <i class="fa fa-user icon"></i>
                <input type="text" class="form-control" id="firstname">
            </div>
            <small id="firstname_small"></small>

        </div>
        <!-- DATE OF BIRTHDAY -->
        <div class="form-group col-lg-8  col-md-12 pb-3">
            <label for="">Date de naissance<span class="red_cara">*</span></label>
            <div class="d-flex col-12 ">

                <input type="date" class="form-control" id="date">
            </div>
            <small id="date_small"></small>

        </div>
        <!-- NUMBER PHONE -->
        <div class="form-group col-lg-8 col-md-12 pb-3">
            <label for="">Numéro de téléphone<span class="red_cara">*</span></label>
            <div class="d-flex col-12 " >
                <i class="fa fa-phone-alt icon"></i>
                <input type="tel" class="form-control" maxlength="10" id="number" >
            </div>
            <small id="number_small"></small>

        </div>
        <!-- GENRE -->
        <div class="form-group col-lg-8 col-md-12  pb-3">
            <label class="mb-2" for="">Genre</label>
            <div class="d-flex  col-12 ">
                 <!-- autre -->
                 <div class="d-flex me-3">
                    <input type="radio" class="form-check-input" id="autre" name="genre" checked>
                    <label class="ps-2" for="genreAutre">Autre</label>
                </div>
                <!-- MALE -->
                <div class="d-flex me-3">
                    <input type="radio" class="form-check-input" id="male" name="genre" >
                    <label class="ps-2" for="genreMale">Homme</label>
                </div>
                <!-- FEMALE -->
                <div class="d-flex ">
                    <input type="radio" class="form-check-input" id="female" name="genre">
                    <label class="ps-2" for="genreFemale">Femme</label>

                </div>
               
            </div>
        </div>
    </div>
    <!-- EMAIL && PASSWORD && BUTTON INSCRIPTION && lINK PAGE account  -->
    <div class=" div-right ps-lg-4 col-lg-6 col-md-12 ">
        <!-- EMAIL -->
        <div class="form-group col-lg-8  col-md-12  pb-3">
            <label for="">Email<span class="red_cara">*</span></label>
            <div class="d-flex col-12 ">
                <i class="fa fa-envelope icon"></i>
                <input type="email" class="form-control" name="email" id="email">
            </div>
            <small id="email_small"></small>

        </div>
        <!-- PASSWORD1 -->
        <div class="form-group col-lg-8 col-md-12 pb-3">
            <label for="">Mots de passe<span class="red_cara">*</span></label>
            <div class="d-flex  col-12 ">
                <i class="fa fa-key icon"></i>
                <input type="password" class="form-control" id="password1">
            </div>
            <small id="password1_small"></small>

        </div>
        <!-- PASSWORD2 -->
        <div class=" d form-group col-lg-8 col-md-12  pb-3">
            <label class="col-10" for="">Confirmation mots de passe<span class="red_cara">*</span></label>
            <div class="  d-flex  col-12  ">
                <i class="fa fa-key icon"></i>
                <input type="password" class="form-control  " id="password2">
            </div>
            <small id="password2_small"></small>
        </div>
        <!-- BUTTON INSCRIPTION && LINK ACCOUNT -->
        <div class="d-flex flex-lg-row flex-column  align-items-center  col-lg-8 col-md-12  mt-2">
            <div class="  pt-4"><button onclick="ValidateInsertUser();" class="btn"
                    id="btn"><strong>Inscription</strong></button></div>
            <div class=" d-flex align-items-center pt-lg-4 "><a href="index.php?page=account">Un compte?
                    Connectez-vous</a></div>
        </div>

    </div>

</div>