<!-- ◘JS◘ -->
<script src="assets/js/maps.js"></script>
<!-- FIN ◘JS◘ -->

<!-- ◘ CSS ◘ -->
<link href="../web/assets/css/maps.css" rel="stylesheet">
<!-- FIN CSS -->


<input id="namepage" type="hidden" value="<?php echo $pageName=" Maps" ?>">

<div class="maping">
    <span><a class="mapping_link" href="index.php">Accueil</a></span>
    <span>></span>
    <span>
        <?php echo $pageName="Maps" ?>
    </span>
</div>


<h1>Les actualités de PirAStack</h1>
<!-- template result maps infos -->
<div class="row"  id="template_result_maps_infos">
   
    <div class=" animatable bounceIn pb-4 col-lg-6 col-sm-12">
        <div class="desc_maps" id=template_result_infos>

        </div>
    </div>
</div>





<!-- template result maps -->
<div class="row" id="template_result_maps">

</div>

<!-- template_infos -->
<div class="hide" id="template_infos">
    <h5>___titre___</h5>
    ___description___
</div>
<!-- template maps  -->
<div class="hide" id="template_maps">
    <div class=" animatable bounceIn pb-4 col-lg-6 col-sm-12">
        <div class="actu_img">
            <img src="___image___" alt="">
        </div>
        <div class="item_tag d-flex flex-column">

            <span class="create_by">Créé par <strong>PirAStack - 2920-8220-6974</strong></span>
            <span class="title_maps">___titre___</span>
            <span class="shot_desc_maps">___description___</span>
        </div>
    </div>
</div>
