<!-- ◘JS◘ -->
<script src="assets/js/panier.js"></script>
<!-- FIN ◘JS◘ -->

<!-- ◘ CSS ◘ -->
<link href="../web/assets/css/panier.css" rel="stylesheet">
<!-- FIN CSS -->
<input id="namepage" type="hidden" value="<?php echo $pageName=" Panier" ?>">
<div class="maping">
    <span><a class="mapping_link" href="index.php">Accueil</a></span>
    <span>></span>
    <span><a class="mapping_link" href="shop.php">Boutique</a></span>
    <span>></span>
    <span>
        <?php echo $pageName ?>
    </span>
</div>


<main class="container_pannier">
    <div class="header_pannier">
        <div class="long">Produit</div>
        <div class="long">Prix</div>
        <div class="long">Quantité</div>
        <div class="long">Total</div>
        <div></div>
    </div>
   
  
    <!-- template_result_panier -->
    <div id="template_result_panier">

    </div>
</main>
<div class="hide" id="template_panier">
    <div class="item_product">
        <img class="pannier_img" src="___image___" alt="">
        <div class="container_detail">
            <div class="mobile_div"></div>
            <div class="detail_item">
                <div class=" product_name">
                    ___nom_product___
                </div>
                <div class="long product_price">
                  ___price___
                </div>
                <div class="long product_qte">
                    ___quantity___
                </div>
                <div class="long product_total">
                    ___total_price___
                </div>
                <div class="product_delete">
                    ___btn_delete___
                </div>
            </div>
        </div>
    </div>
</div>