<!-- ◘JS◘ -->
<script src="assets/js/planning.js"></script>
<!-- FIN ◘JS◘ -->
<!-- ◘ CSS ◘ -->
<link href="../web/assets/css/planning.css" rel="stylesheet">
<!-- FIN CSS -->
<input id="namepage" type="hidden" value="<?php echo $pageName=" Planning" ?>">
<div class="maping">
    <span><a class="mapping_link" href="index.php">Accueil</a></span>
    <span>></span>
    <span>
        <?php echo $pageName ?>
    </span>
</div>
<!-- template planning -->
<div class="hide" id="template_planning">
    <div class="one_prog d-flex">
        <img class="owl_img" src="___image___" alt="">
        <span class="owl_item_title"><strong>___titre___</strong></span>
        <div class="hour d-flex flex-column flex-grow-1 align-items-end">
            <span>___horaire_start___</span>
            <span>&nbspà ___horaire_end___</span>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between align-items-center">
    <h1 class="mt-2"><strong> Le planning de PirAStack</strong></h1>
</div>
<div class="carousel mt-4 mb-4">
    <div class="bg_prev">

    </div>
    <div id="carousel" class="owl-carousel owl-theme">

        <div class="item bg-white">
            <div>
                <h4>Lundi</h4>
            </div>
            <div class="content_item flex-column" id="lundi">
              

            </div>
        </div>
        <div class="item bg-white">
            <div>
                <h4>Mardi</h4>
            </div>
            <div class="content_item flex-column" id="mardi">

               
            </div>
        </div>
        <div class="item bg-white">
            <div>
                <h4>Mercredi</h4>
            </div>
            <div class="content_item flex-column" id="mercredi">

            </div>
        </div>
        <div class="item bg-white">
            <div>
                <h4>Jeudi</h4>
            </div>
            <div class="content_item flex-column"  id="jeudi">

            </div>
        </div>
        <div class="item bg-white">
            <div>
                <h4>Vendredi</h4>
            </div>
            <div class="content_item flex-column"  id="vendredi">

            </div>
        </div>
        <div class="item bg-white">
            <div>
                <h4>Samedi</h4>
            </div>
            <div class="content_item flex-column"  id="samedi">

            </div>
        </div>
        <div class="item bg-white ">
            <div>
                <h4>Dimanche</h4>
            </div>
            <div class="content_item flex-column"  id="dimanche">

            </div>
        </div>

    </div>
    <div class="bg_next">
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $('.owl-carousel').owlCarousel({
        loop: false,
        margin: 10,
        nav: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 2
            },
            1000: {
                items: 3
            },
            1200: {
                items: 4
            }
        },
        navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
        dots: false,
    })

</script>