<!-- ◘JS◘ -->
<script src="assets/js/product.js"></script>
<!-- FIN ◘JS◘ -->

<!-- ◘ CSS ◘ -->
<link href="../web/assets/css/product.css" rel="stylesheet">
<!-- FIN CSS -->

<input id="namepage" type="hidden" value="<?php echo $pageName=" Produit" ?>">
<div class="maping">
    <span><a class="mapping_link" href="index.php">Accueil</a></span>
    <span>></span>
    <span><a class="mapping_link" href="shop.php">Boutique</a></span>
    <span>></span>
    <span>
        <?php echo $pageName ?>
    </span>
</div>

<div class="row product_container">
    <div class=" img_product d-flex flex-column col-lg-6 col-md-6 col-sm-12 col-xs-12  ">
        <a href="#" id="img_name"></a>

        <div class="groupe_secondary_img row">
            <div class="col">
                <a href="#" id="img_name_1"></a>
            </div>
            <div class="col">
                <a href="#" id="img_name_2"></a>
            </div>
            <div class="col">
                <a href="#" id="img_name_3"></a>
            </div>
        </div>
    </div>
    <div class="p-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="category_name">
            <h6 class="mt-4 mb-4"><strong id="category_name"></strong></h6>
            <h1 class="mt-4 mb-2"><strong id="product_name"></strong></h1>
            <h4 class="mt-1 mb-3"><strong id="price"></strong></h4>
            <p id="description"></p>

        </div>
        <div class=" d-flex group_buy">
            <input class="nb_product" type="number" id="nb_product" value="0" min="0">
            <a class="btn_buy" onclick="addProduct();" >Ajouter au panier</a>
            <span class="ms-4 mt-2 loader_main hide" >
                <div class="loader">
                    <div class="inner one"></div>
                    <div class="inner two"></div>
                    <div class="inner three"></div>
                </div>
            </span>
        </div>

    </div>

</div>