<!-- ◘JS◘ -->
<script src="assets/js/shop.js"></script>
<!-- FIN ◘JS◘ -->

<!-- ◘ CSS ◘ -->
<link href="../web/assets/css/shop.css" rel="stylesheet">
<!-- FIN CSS -->



<input id="namepage" type="hidden" value="<?php echo $pageName=" Boutique" ?>">
<div class="maping">
    <span><a class="mapping_link" href="index.php">Accueil</a></span>
    <span>></span>
    <span>
        <?php echo $pageName ?>
    </span>
</div>
<section class="mt-5 mb-5 container">
    <h3><strong>La boutique de PirAStack</strong></h3>

       <!-- div template categroy -->
       <div style="display: none;" id="template_category">
        <div class="form-check">
            <input onclick="FilterCategory(___id_category___),getListShop();" class="form-check-input" type="checkbox" value="___id_category___" id="flexCheck___name_famille___">
            <label class="form-check-label" for="flexCheck___name_famille___">
                ___name_famille___
            </label>
        </div>
    </div>

    <!-- PRINT CATEGORY -->
    <div class="sort_btn d-flex m-3 justify-content-around" id="template_result_category">

    </div>


 

    <!-- div template shop -->
    <div style="display: none;" id="template_shop">
        <div class="  pt-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="___lien_produit___">
                <div class="  img_shop item_tag_staff ">
                    <div class="  before d-flex justify-content-center"><img src="assets/image/buy_icon.svg" alt="">
                        <div class="buy_text">J'achète</div>
                    </div>
                    <img class="image_shop" src="___image_produit___" alt="">
                </div>

                <div class="d-flex flex-column item_tag">
                    <span class="product_name_item">___nom_produit___</span>
                    <span>___prix___ TTC</span>
                </div>
            </a>
        </div>
    </div>

    <!-- PRINT SHOP -->
    <div class="row" id="template_result_shop">


    </div>
    <div  class="pagination col-12 d-flex justify-content-center mt-4">
      </div>
<a href=""></a>
        
</section>
