<!-- ◘JS◘ -->
<script src="assets/js/shop_gestion.js"></script>
<script src="assets/js/datatables.min.js"></script>

<!-- FIN ◘JS◘ -->

<!-- ◘ CSS ◘ -->
<link href="../web/assets/css/datatables.min.css" rel="stylesheet">
<link href="../web/assets/css/shop_gestion.css" rel="stylesheet">

<!-- FIN CSS -->


<!-- main css and js -->
<style>

</style>



<table id="table_shop" border="1" style="width: 100%;">
</table>
<!-- div content input and image article -->
<div class="d-flex col-12 mt-2">
    <div class="col-6">

        <p>Nom Produit: <input type="text" name="nom_produit" id="nom_produit" value=""></p>
        <!-- CATEGORIE LIST -->
        <p>Catégorie :
            <select id="list_categorie">
                <option class="" value="___id_categorie___">___name_categorie___</option>
            </select>
        </p>
        <!-- TVA LIST -->
        <p>TVA :
            <select id="list_tva">
                <option value="___id_tva___">___name_tva___</option>
            </select>
        </p>
        <!-- input  -->
        <p>Prix : <input type="int" name="prix" id="prix" value="" maxlength="5" min="0"></p>
        <p>Stock: <input type="int" name="stock" id="stock" value="" maxlength="4" min="0"></p>
        <!-- FILE INPUT -->
        <p class="" id="block_files">
            <label class="label_file" for="files">Parcourir</label>
            <span class="name_file" id="name_file"></span>
            <input class="input_file mb-2" type="file" name="files" id="files">
        </p>
        <!-- textaerea -->
        <p>Description:</p>
        <textarea type="text" name="description" id="description" style="width: 500px;min-height: 100px;"
            value=""></textarea>

        <!-- BUTTON -->
        <p>
            <button onClick="InsertArticle()" class="btn_action" id="btn_ajouter">AJOUTER</button>
            <button onClick="UpdateArticle()" class="btn_action hide" id="btn_modifier">MODIFIER</button>
            &nbsp;&nbsp;&nbsp;
            <button onClick="CancelAction()" class="btn_save hide" id="btn_annuler">ANNULER</button>
        </p>
    </div>

    <div class="img_print col-6 d-flex align-items-center justify-content-center"></div>
    <!-- content image productF -->
    <div>
        <span id="resultat"></span>
    </div>
</div>

</section>
<div class=" modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header ">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button onclick="DeleteArticle()" type="button" class="btn_action"
                    data-bs-dismiss="modal">Confirmer</button>
                <button type="button" class="btn_save  " data-bs-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>