<!-- ◘JS◘ -->
<script src="assets/js/staff.js"></script>
<!-- FIN ◘JS◘ -->



<!-- ◘ CSS ◘ -->
<link href="../web/assets/css/staff.css" rel="stylesheet">
<!-- FIN CSS -->
<input id="namepage" type="hidden" value="<?php echo $monPHP ?>">
<div class="maping">
    <span><a class="mapping_link" href="index.php">Accueil</a></span>
    <span>></span>
    <span>
        <?php echo $monPHP ?>
    </span>
</div>

<section class="mt-5 mb-5 container">
    <h3><strong>Le staff de PirAStack</strong></h3>
    <!-- template staff html -->
    <div class="hide" id="template_staff">
        <div class=" pt-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 effect-3 ">
            <div class=" effect-img item_tag_staff ">

                <img src="___image___" alt="">
                <div class="effect-text">
                    <p>___description___</p>
                </div>

            </div>

            <div class="d-flex flex-column item_tag">
                <span>___pseudonyme___</span>
                <span>___poste___</span>
            </div>
        </div>
    </div>



    <!-- div template STAFF html -->
    <div class="row" id="template_result_staff">


    </div>

</section>